click==8.1.7
dask[complete]==2024.10.0
joblib==1.4.2
numba==0.60.0
numpy==2.0.2
pandas==2.2.3
pyarrow==17.0.0
scipy==1.14.1
scikit-learn==1.5.2
seaborn==0.13.2
sgkit[vcf]==0.7.0
torch==2.5.0
pyslim==1.0.4
xarray==2024.10.0
zarr==2.18.7
numcodecs==0.11.0
